* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Tahoma, sans-serif;
}

body {
  margin: 0 25px;
}

h1,
h2 {
  font-family: 'Courier New', Courier, monospace;
  padding: 12px;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

h2,
form {
  text-align: left;
}

div {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 8px;
}

label,
input,
p,
button {
  font-size: 1.2rem;
}

p {
  margin: 8px;
}

input {
  margin-left: 10px;
  background-color: whitesmoke;
  border: none;
  padding: 2px;
}

button {
  align-self: center;
  border: none;
  background-color: lightgreen;
  padding: 10px 20px;
  border-radius: 8%;
  margin: 10px;
}

.general{
  color: darkgreen;
}

.education {
  color: darkblue;
}

.experience {
  color: maroon;
}
